<h1>New User Registration</h1>

<%= render partial: 'form', locals: { method: :post,
                                      prefill_name: params[:name],
                                      prefill_address: params[:address],
                                      prefill_city: params[:city],
                                      prefill_state: params[:state],
                                      prefill_zip: params[:zip],
                                      prefill_email: nil } %>
